$body-color: #131a20;
$text-color: #f8f8f8;
$main-element: #172026;
$main-namefield: #1d282f;
$box-shadow: 0 8px 22px rgba(26,20,37,.8);
$primary: #325cab;
$primary-active: #2552a5;
$secondary: #3567c9;
$error: #cf3838;

$evocation: url(../assets/evocation.png);
$abjuration: url(../assets/abjuration.png);
$necromancy: url(../assets/necromancy.png);
$divination: url(../assets/divination.png);
$transmutation: url(../assets/transmutation.png);
$enchantment: url(../assets/enchantment.png);
$illusion: url(../assets/illusion.png);
$conjuration: url(../assets/conjuration.png);
$loading: url(../assets/casting.gif);
$error: url(../assets/error.gif)
