.header {
  margin: 2%;
  height: auto;
}

.header__link {
  color: $text-color;
  text-decoration: none;
  margin-right: 2%;
  &:visited {
    color: $text-color;
  }
  &:hover {
    color: $secondary
  }
  &:active {
    color: $primary-active;
  }
}