@import './normalize.css';
@import './spelllist.scss';
@import './searchfield.scss';
@import './variables.scss';

body {
  background-color: $body-color;
  color: $text-color;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
